* {
	margin: 0;
	padding: 0;
}

#hero {
	background-color: #E0EBE8;
	text-align: center;
	padding: 10%;
	padding-bottom: 0;
}

#hero h1 {
	font-size: 3rem;
	font-family: cursive;
	color: #3E9C87;
}

#hero p {
	color: #3E9C87;
	font-size: 1.5rem;
	font-family: sans-serif;
}

.land {
	margin-top: 13.6%;
}

.cloudone, .cloudtwo {
	position: absolute;
}

.cloudone {
	left: 20%;
	top: 10%
}

#about {
	text-align: center;
}

#about img {
	width: 10%;
	margin-top: 10%;
	margin-bottom: 2%;
}

#about h1 {
	font-size: 3rem;
	color: #3E9C87;
	font-family: sans-serif;
}

#about p {
	font-size: 1.5rem;
	font-family: sans-serif;
	width: 40%;
	margin: 10px auto;
}

hr {
	width: 10%;
	margin: 10% auto;
	border: 2px dotted #f2f2f2;
	border-width: 20px;
	border-bottom: none;
}

#work {
	margin: 10% auto;
	width: 50%;
	text-align: right;
}

#work td {
	padding: 20px;
	color: #3E9C87;
}

#work img {
	width: 100%
}

#work h1 {
	font-size: 2.5rem;
	font-family: sans-serif;
}

#work p {
	font-family: sans-serif;
	width: 90%;
	font-size: 1.2rem;
	float: right;
}

.footerone {
	background-color: #E0EBE8;
	text-align: center;
	font-family: sans-serif;
	padding: 10%;
}